@media (max-width: 1440px) {
    body {
        background-size: 65vw 100vh;
    }

    .main img {
        width: 50vw;
        height: auto;
    }
    .title {
        font-size: 2.8rem;
      }  
}

@media (max-width: 1024px) {
    body {
        background-size: 62vw;
    }

    .title {
        font-size: 2.3rem;
    }

    .text {
        font-size: 16px;
    }

    .btn-register {
        width: 11rem;
        height: 3.5rem;
        font-size: 22px;
    }
}

@media (min-width: 1024px) and (min-height:1000px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-position: top center;
        background-size: 100vw 50vh;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .main img {
        width: 62vh;
        height: auto;
    }

    .intro-section {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact {
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }

    .header img {
        padding-left: 8rem;
        padding-top: 45px;
    }

    .intro-section {
        padding-top: 2rem;
    }

    .title {
        font-size: 4.5rem;
    }

    .text {
        font-size: 2.2rem;
    }

    .btn-register {
        width: 23rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media (max-width: 915px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-position: top center;
        background-size: 100vw 50vh;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .intro-section {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact {
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }

    .header img {
        padding-left: 5rem;
    }

    .main img {
        padding-left: 0;
        width: 82vw;
        height: auto;
    }

    .intro-section {
        padding-top: 3rem;
    }

    .title {
        font-size: 4rem; 
    }

    .text {
        font-size: 2.2rem;
    }

    .btn-register {
        width: 25rem;
        margin-top: 12px;
        height: 6rem;
        font-size: 32px;
    }
}

@media(max-width: 900px) {
    .text {
        font-size: 2rem;
    }

    .btn-register {
        margin: 12px 0 25px 0;
    }
} 

@media (max-width: 768px) {
    .title {
        font-size: 3.5rem;
    }

    .text {
        font-size: 1.9rem;
    }
}

@media (max-width: 550px) {
    body {
        background-size: 60vh;

    }

    .header img {
        padding: 30px 0 25px 55px;
        width: 14rem;
    }

    .main img {
        width: 75vw;
        height: auto;
    }

    .intro-section {
        padding-top: 8px;
    }

    .title {
        font-size: 2.2rem;
    }

    .text {
        font-size: 20px;
    }

    .btn-register {
        margin: 0 0 25px 0;
        font-size: 23px;
        width: 16rem;
        height: 4.5rem;
    }
}

@media (max-width: 425px) {
    body {
        background-size: 45vh;
    }

    .header img {
        width: 12rem;
        padding-left: 1.8rem;
    }

    .main img {
        width: 22em;
        height: auto;
    }

    .title {
        padding-top: 3rem;
        font-size: 1.7em;
    }

    .text {
        font-size: 18px;
    }

    .btn-register {
        font-size: 20px;
        height: 3.5rem;
        width: 15rem;
    }
}

@media (max-width: 377px) {
    body {
        background-size: 100vw 50vh;
    }
    .header img {
        width: 10rem;
    }

    .main img {
        width: 80vw;
        height: auto;
    }

    .intro-section {
        padding-top: 1rem;
    }

    .title {
        padding-top: 0;
        font-size: 1.5rem;
    }

    .text {
        font-size: 16px;
    }

    .btn-register {
        width: 14.5rem;
        font-size: 18px;
    }
} 